<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="page">

    <h1>Home | <a href="/projects">Projects</Home> | <a href="/contact">Contact</a></h1>
    <h2>About me</h2>
    <div class="content">
        <div class="proInfo">
            <img src="~/images/profile.png" alt="pic"/>
            <h4>Samar Alghamdi</h4>
            <p>I like stuff!</p>
        </div>
    <P style="margin-left:100px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum doloribus nostrum perferendis id blanditiis perspiciatis asperiores nesciunt dolorum alias. Officiis veritatis veniam ab perferendis magni? Vitae, dolore! Suscipit, quae consectetur!</P>
    </div>
    </div>
    
</body>
</html>