<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        string [] foods = {"Apple pie","Burrito","Clams Casino","Donuts"};
        <h1>Here are some delicious foods!</h1>
        
            for(int i =0; i<foods.Length; i++){
                if (foods[i][0]=='C'){
                    <p style="color:red">@foods[i]</p>
                }
                else {
                    <p>@foods[i]</p>
                    }
                
            } 
    }
</body>
</html>